[submodule "OtterGui"]
	path = OtterGui
	url = https://github.com/jqnxokbmeoiqwncv/OtterGui.git
	branch = Glamourer
[submodule "Penumbra.GameData"]
	path = Penumbra.GameData
	url = https://github.com/jqnxokbmeoiqwncv/Penumbra.GameData.git
	branch = Glamourer
[submodule "Penumbra.String"]
	path = Penumbra.String
	url = https://github.com/jqnxokbmeoiqwncv/Penumbra.String.git
	branch = Glamourer
[submodule "Penumbra.Api"]
	path = Penumbra.Api
	url = https://github.com/jqnxokbmeoiqwncv/Penumbra.Api.git
	branch = Glamourer
[submodule "Glamourer.Api"]
	path = Glamourer.Api
	url = https://github.com/jqnxokbmeoiqwncv/Glamourer.Api.git
	branch = Glamourer
